.container{
	/*border-color: Gray;
	border: solid 2px;*/
	background: #FFFFFF; 
	width: 930px;
	margin-left:auto; margin-right: auto; 
}

#header{
	width: 100%; 
}

#header *{
	background: #404040;
	color: white;
}


img {
	margin-bottom:10px;
}

#me {
	border-radius:8px;
	height: auto;
}



body {
	/*background: #707070 ;*/
	font-size:medium;
}

